.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  flex: 95%;

  @media (max-width: 768px) {
    padding: 2rem;
  }

  .title {
    font-size: 6rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .description {
    color: #6d6d6d;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
