body {
  margin: 0;
  overflow: hidden;

  @include mediaQueryL {
    overflow: auto;
  }
}

#app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  @include mediaQueryL {
    flex-direction: column;
  }
}

.sidebar-container {
  background: red;
  width: 225px;
  min-height: 100vh;
  padding: 1rem;
  flex: 0 0 auto;

  @include mediaQueryL {
    width: 100vw;
  }
}

.main-container {
  background: blue;
  max-width: 1200px;
  min-height: 100vh;
  padding: 1rem;
  flex: 1 1 auto;
  overflow: auto;

  @include mediaQueryL {
    overflow: unset;
    min-height: unset;
  }
}
