// pallet from: https://coolors.co/721817-fa9f42-2b4162-0b6e4f-e0e0e2
@import "mixins.scss";
@import "animations.scss";
@include font-face("Reem Kufi", "/fonts/ReemKufi-Regular", 500, normal, ttf);
@include font-face("Roboto", "/fonts/Roboto-Regular", 500, normal, ttf);
@include font-face("Roboto Bold", "/fonts/Roboto-Bold", 700, bold, ttf);

$white: #e0e0e2;
$blue: #2b4162;
$yellow: #fa9f42;
$red: #721817;
$green: #0b6e4f;

$reem-kufi: "Reem Kufi", "Helvetica", "Arial", sans-serif;
$roboto: "Roboto", "Helvetica", "Arial", sans-serif;
