.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .name {
    font-family: $roboto;
    font-size: 4rem;
    margin-bottom: 8rem;
    user-select: none;

    @include mediaQueryM {
      font-size: 3.5rem;
      margin-bottom: 4rem;
      text-align: center;
    }
  }

  .link-container {
    display: flex;

    .link {
      height: auto;
      width: 80px;
      margin-right: 50px;

      &:hover {
        cursor: pointer;
      }

      @include mediaQueryM {
        width: 50px;
        margin: 0;
      }
    }

    @include mediaQueryM {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
